/* General Styling*/
@import "watermelon.css"; 

@font-face { 
    font-family: Abril Display; 
    src: url('assets/abril.otf'); 
} 

@font-face { 
    font-family: Acumin; 
    src: url('assets/acumin.otf'); 
} 

html, body {
    overflow-x: hidden;
  }

  body {
    position: relative
  }

body{
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Acumin', Tahoma, Geneva, Verdana, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Abril Display';
    color: var(--wm-colours-dark);
}

h3 {
    font-size: 2.5rem;
    padding-bottom: 0.25rem;
}

p {
    margin: 1px 0;
    padding: 0;
    font-size: 1rem;
  }

.reframe {
    height: 10rem;
    width: 10rem;
    padding: 1rem;
}

/* Navigation*/

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 8vh;
    padding: 2%;
}

.nav-list{
    list-style: none;
    width:40%;
    font-size: 1.2em;
}

.nav-item{
    padding: 2%;
}

.logo{
    height: auto;
    width: 1.5rem;
    padding: 1.5rem;
    justify-content: left;

}

a:link, a:visited{
    text-decoration: none;
    color: var(--wm-colours-dark);
}

a:hover {
    text-decoration: underline;
  }

.burger{
    display: none;
}

.burger div {
    width: 2rem;
    height: 0.25rem;
    margin: 0.25rem;
    background-color: var(--wm-colours-light);
    
}

/* Landing */

.landing {
    height: 85vh;
    width: 100vw;
    position: relative;
    background: url('assets/personal-olive.svg') no-repeat left;
}

.landing-content {
    padding-top: 5%;
    width: 50%;
}

.landing h1{
    font-size: 9rem;
    margin-bottom: 0em;
}

.landing h2{
    font-size: 3rem;
}

.landing li{
    max-height: 2em;
    color: var(--wm-colours-dark)
}

/* About */

.about-photo img{
    height: 15em;
    width: 15em;
    overflow: hidden;
    padding: 1em;
}

/* Projects */


/* Reel */
/* Journal */
/* Footer */

footer {
    background-color: var(--wm-colours-dark);
    display: grid;
    place-items: center;
}

/* .footer-content {
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}  */

.footer-content h2{
    color: var(--wm-colours-light);
}

.footer-content p{
    color: var(--wm-colours-light);
    
}


#icons-light {
    color: var(--wm-colours-light)
}

/* Construction */

.construction{
    height: 85vh;
    width: 100vw;
    position: relative;
    font-size: 2rem;
    align-items: center;
    display: flex;
}

.construction-content {
    padding-top: 5%;
    width: 50%;

}


/* Media */

/* @media screen and (max-width:1024px){
    .nav-list{
        list-style: none;
        justify-content: space-around;
        width:50%;
        font-size: 1rem;
    }
} */

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .nav {
        background-color: var(--wm-colours-dark);
    }

    .nav-list{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--wm-colours-dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
        
    }

    .nav-list li{
        color: var(--wm-colours-light);
    }
    
    .burger{
        display:block;
    }

    .nav-item {
        color: var(--wm-colours-light)
    }

    .nav-link {
        color: var(--wm-colours-light)
    }

    a:link, a:visited{
        text-decoration: none;
        color: var(--wm-colours-light);
    }

    .landing {
        background: none;
      }

    .landing h1{
        margin-top: 95%;
        font-size: 5.5rem;
    }
    
    .landing h2{
        font-size: 2rem;
    }

    .wm-flex-row {
        display: flex;
        flex-direction: column;
      }

}

.nav-active{
    transform: translateX(0%);
}


/* Keyframes */

@keyframes navLinkFade{
    from{
        opacity: 0; 
        transform: translateX(50px); 
    } to {
        opacity: 1; 
        transform: translateX(0px); 
    }
}

.toggle .line-1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-3{
    opacity: 0;
}

.toggle .line-3{
    transform: rotate(-45deg) translate(-5px, 6px);
}