/* General Styling*/
@import "watermelon.css"; 

@font-face { 
    font-family: Abril Display; 
    src: url('assets/abril.otf'); 
} 

@font-face { 
    font-family: Acumin; 
    src: url('assets/acumin.otf'); 
} 

html, body {
    overflow-x: hidden;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Acumin', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    padding-inline-start: 0
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Abril Display';
    color: var(--wm-colours-dark);
}

h3 {
    font-size: 2.5rem;
    padding-bottom: 0.25rem;
}

p {
    margin: 1px 0;
    padding: 0;
    font-size: 1rem;
  }

.reframe {
    height: 9rem;
    width: 9rem;
    object-fit: cover;
    border-radius: 0.05rem;
    padding: 1rem;
}

/* Navigation*/

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 8vh;
    padding: 2%;
	z-index: 4
}

.nav-list{
    list-style: none;
    width:40%;
    font-size: 1.2em;
}

.nav-item{
    padding: 2%;
}

a:link, a:visited{
    text-decoration: none;
    color: var(--wm-colours-dark);
}

a:hover {
    text-decoration: underline;
  }

.burger{
    display: none;
}

.burger div {
    width: 2rem;
    height: 0.25rem;
    margin: 0.25rem;
    background-color: var(--wm-colours-light);
    
}

/* Landing */

.landing {
    height: 85vh;
    width: 100vw;
    position: relative;
    /* background: url('assets/personal-olive.svg') no-repeat left; */
}


.scene {
    position: absolute;
    max-width:100vw;
    max-height:75vh;
    height:auto;
    bottom: 0;
	/* transform: translateY(var(--translateY));
	will-change: transform; */
}

#landing-0 {
    z-index: 3;
    left: -5;
	width: 100vw;
    bottom: -5
}

#landing-1-right {
    z-index: 2;
    right:0;
    max-height:105vh;
    
    
}
#landing-1-left {
    z-index: 2; 
    left:0; 
    max-height:105vh;
}


#landing-2 {
    z-index: 1;
    left:0;
}

#landing-3 {
    z-index: 0;
    right:0;
}

#landing-4 {
    z-index: -1;
    left:-10;
}

#landing-5 {
    z-index: -2;
    right:0;
}


#landing-6 {
    z-index: -3;
    width:100vw;
}

.landing-content {
    align-items: flex-start;
    justify-content: center;
    
}

.landing h1{
    font-size: 2.5rem;
    margin-bottom: 0.1rem;
    text-align: center;
}

.landing h2{
    font-size: 1rem;
    text-align: center;
}

.landing ul{
    text-align: center;
    justify-content: center;
    z-index: 7;
}

.fab-dark {
    font-size: 2rem;
    color: var(--wm-colours-dark);
}

/* About */

#section-about{
    padding-top:5em
}

.about-photo img{
    height: 15em;
    width: 15em;
    overflow: hidden;
    padding: 1em;
}

/* Projects */

/* Reel */
/* Journal */
/* Footer */

footer {
    background-color: var(--wm-colours-dark);
}

.footer-content {
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.footer-content h2{
    color: var(--wm-colours-light);
}

.footer-content p{
    color: var(--wm-colours-light);
    
}


#icons-light {
    font-size: large;
    z-index: 4;
}

.fab-light {
    color: var(--wm-colours-light)
}
/* Construction */

.construction{
    height: 85vh;
    width: 100vw;
    position: relative;
    font-size: 2rem;
    align-items: center;
    display: flex;
}

.construction-content {
    padding-top: 5%;
    width: 50%;

}


/* Media */

@media screen and (max-width:1024px){
    .wm-section {
        padding: 0 12vw 70px 12vw;
      }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .nav {
        position: relative;
        justify-content: flex-end;
        background-color: var(--wm-colours-dark);
    }

    .nav-list{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--wm-colours-dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
        
    }

    .nav-list li{
        color: var(--wm-colours-light);
    }
    
    .burger{
        display:block;
    }

    .nav-item {
        color: var(--wm-colours-light)
    }

    .nav-link {
        color: var(--wm-colours-light)
    }

    a:link, a:visited{
        text-decoration: none;
        color: var(--wm-colours-light);
    }

    #landing-1-right {
       visibility: hidden;
    
    }
    #landing-1-left {
        visibility: hidden;
    }

    .landing {
        background: none;
      }

    .landing h1{
        margin-top: 40%;
        font-size: 5.5rem;
    }
    
    .landing h2{
        font-size: 2rem;
    }

    .landing-content{
        padding: 0 12.5vw 70px 12.5vw;
    }

    .wm-flex-row {
        display: flex;
        flex-direction: column;
      }

    
}

.nav-active{
    transform: translateX(0%);
}


/* Keyframes */

@keyframes navLinkFade{
    from{
        opacity: 0; 
        transform: translateX(40px); 
    } to {
        opacity: 1; 
        transform: translateX(0px); 
    }
}

.toggle .line-1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-3{
    opacity: 0;
}

.toggle .line-3{
    transform: rotate(-45deg) translate(-5px, 6px);
}
