:root {
  --wm-colours-light: #FFFFFF;
  --wm-colours-lightgray: #F0F7F4;
  --wm-colours-gray: #B3BFB8;

  --wm-colours-dark: #203721;
  --wm-colours-secondary: #7E8D85;
}

/* Card Styling */
.wm-card {
  cursor: pointer;
  padding: 0.25rem 1rem;
  margin: 1.5rem 0.25rem;
  border-radius: 5px;
  background-color: var(--wm-colours-light);
  box-shadow: 0 5px 5px rgba(27, 33, 48,0.18), 0 5px 5px rgba(27, 33, 48,0.16)
}

.wm-clear {
  padding: 0 !important;
  margin: 0 !important;
}

/* Hover Effects */
.wm-hover {
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.wm-hover:hover {
  box-shadow: 0 14px 28px rgba(27, 33, 48,0.18), 0 10px 10px rgba(27, 33, 48,0.16) !important;
}

/* Shadow Styling */
.wm-shadow {
  box-shadow: 0 14px 28px rgba(27, 33, 48,0.06), 0 10px 10px rgba(27, 33, 48,0.02);
}

/* Horizontal List styling */
ul.wm-hl {
  list-style: none;
  padding: 0;
}

ul.wm-hl li {
  display:inline-block;
  border-style: none;
  font-size: 1rem;
  margin-right: 3px;
  padding: 0.3rem;
  border-radius: 2px;
  color: var(--wm-colours-light);
  background-color: var(--wm-colours-secondary);
  margin-bottom: 0.2rem;
}

ul.wm-icon li {
  display:inline-block;
  border-style: none;
  font-size: 0.9rem;
  margin-right: 3px;
  padding: 0.3rem;
  border-radius: 2px;
  color: var(--wm-colours-light);
  margin-bottom: 0.2rem;
}

/* Button/Input Styles */
.wm-button {
  background-color: var(--wm-colours-dark);
  color: var(--wm-colours-light);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  border: none;
  font-size: 0.8rem;
  font-family: inherit;
  box-shadow: 0 2px 2px rgba(27, 33, 48,0.18), 0 2px 2px rgba(27, 33, 48,0.16)
}

.wm-button:hover {
  box-shadow: 0 14px 28px rgba(27, 33, 48,0.18), 0 10px 10px rgba(27, 33, 48,0.16) !important;
}



.wm-round {
  border-radius: 2em !important;
}

/* Link/Text/Header Styling */

h1, h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

.wm-section-title {
    text-align: left;
}

/* Style Links */

a.wm-a {
  font-size: 1rem;
  color: var(--wm-colours-dark);
  padding: 0 0.2rem 0 0.2rem;
}

/* Layout Styling */

.wm-flex-col {
  display: flex;
  flex-direction: column;
}

.wm-flex-row {
  display: flex;
  flex-direction: row;
}

.wm-section {
  padding: 0 20vw 75px 20vw;
}

/* Centre Div Horizontal */
.wm-centre {
  text-align: center;
}

/* Default Flex Child Sizes */
.wm-flex-50 {
  flex: 0 0 50%;
}

.wm-flex-25 {
  flex: 0 0 25%;
}

.wm-flex-33 {
  flex: 0 0 33%;
}

.wm-flex-66 {
  flex: 0 0 66%;
}

.wm-flex-centre {
  justify-content: center;
}